/*Rounded Corners*/
/*top-left rounded Corners*/
.jqx-rc-tl-metro {
    -moz-border-radius-topleft: 2px;
    -webkit-border-top-left-radius: 2px;
    border-top-left-radius: 2px;
}
/*top-right rounded Corners*/
.jqx-rc-tr-metro {
    -moz-border-radius-topright: 2px;
    -webkit-border-top-right-radius: 2px;
    border-top-right-radius: 2px;
}
/*bottom-left rounded Corners*/
.jqx-rc-bl-metro {
    -moz-border-radius-bottomleft: 2px;
    -webkit-border-bottom-left-radius: 2px;
    border-bottom-left-radius: 2px;
}
/*bottom-right rounded Corners*/
.jqx-rc-br-metro {
    -moz-border-radius-bottomright: 2px;
    -webkit-border-bottom-right-radius: 2px;
    border-bottom-right-radius: 2px;
}
/*top rounded Corners*/
.jqx-rc-t-metro {
    -moz-border-radius-topleft: 2px;
    -webkit-border-top-left-radius: 2px;
    border-top-left-radius: 2px;
    -moz-border-radius-topright: 2px;
    -webkit-border-top-right-radius: 2px;
    border-top-right-radius: 2px;
}
/*bottom rounded Corners*/
.jqx-rc-b-metro {
    -moz-border-radius-bottomleft: 2px;
    -webkit-border-bottom-left-radius: 2px;
    border-bottom-left-radius: 2px;
    -moz-border-radius-bottomright: 2px;
    -webkit-border-bottom-right-radius: 2px;
    border-bottom-right-radius: 2px;
}
/*right rounded Corners*/
.jqx-rc-r-metro {
    -moz-border-radius-topright: 2px;
    -webkit-border-top-right-radius: 2px;
    border-top-right-radius: 2px;
    -moz-border-radius-bottomright: 2px;
    -webkit-border-bottom-right-radius: 2px;
    border-bottom-right-radius: 2px;
}
/*left rounded Corners*/
.jqx-rc-l-metro {
    -moz-border-radius-topleft: 2px;
    -webkit-border-top-left-radius: 2px;
    border-top-left-radius: 2px;
    -moz-border-radius-bottomleft: 2px;
    -webkit-border-bottom-left-radius: 2px;
    border-bottom-left-radius: 2px;
}
/*all rounded Corners*/
.jqx-rc-all-metro {
    -moz-border-radius: 2px;
    -webkit-border-radius: 2px;
    border-radius: 2px;
}

.jqx-widget-metro, .jqx-widget-content, .jqx-widget-header, .jqx-input-metro {
    -webkit-transition: box-shadow linear 0.2s;
     -moz-transition: box-shadow linear 0.2s;
       -o-transition: box-shadow linear 0.2s;
          transition: box-shadow linear 0.2s;
}
.jqx-listitem-state-normal-metro, .jqx-listitem-state-hover-metro,.jqx-listitem-state-selected-metro,
.jqx-tabs-title-selected-top-metro, .jqx-tabs-title-selected-bottom-metro{
    -webkit-transition: none;
     -moz-transition: none;
       -o-transition: none;
          transition: none;   
}
.jqx-fill-state-normal-metro {
  box-shadow: 0 1px 0 rgba(0, 0, 0, 0.08), inset 0 1px 2px rgba(255, 255, 255, 0.75);;
  -webkit-box-shadow: 0 1px 0 rgba(0, 0, 0, 0.08), inset 0 1px 2px rgba(255, 255, 255, 0.75);;
  -moz-box-shadow: 0 1px 0 rgba(0, 0, 0, 0.08), inset 0 1px 2px rgba(255, 255, 255, 0.75);;
}

.jqx-widget-header-metro, .jqx-fill-state-normal-metro {
    text-shadow: 0 1px 0 rgb(240, 240, 240);
    border-color: #b2b2b2;
    border-color: rgba(0, 0, 0, 0.25);
    color: #444;
    background-color: #f0f0f0;
    background-image: linear-gradient(#ededed, #ededed 38%, #dedede);
    background-image: -webkit-linear-gradient(#ededed, #ededed 38%, #dedede);
    background-image: -moz-linear-gradient(#ededed, #ededed 38%, #dedede);
    background-image: -o-linear-gradient(#ededed, #ededed 38%, #dedede);
    -webkit-transition: color 200ms;
}
.jqx-widget-content-metro {
    border-color: #b2b2b2;
    border-color: rgba(0, 0, 0, 0.25);
}
.jqx-fill-state-hover-metro {
    text-shadow: 0 1px 0 rgb(240, 240, 240);
    border-color: #b2b2b2;
    border-color: rgba(0, 0, 0, 0.3);
    color: black;
    background-color: #f0f0f0;
    background-image: linear-gradient(#f0f0f0, #f0f0f0 38%, #e0e0e0);
    background-image: -webkit-linear-gradient(#f0f0f0, #f0f0f0 38%, #e0e0e0);
    background-image: -moz-linear-gradient(#f0f0f0, #f0f0f0 38%, #e0e0e0);
    background-image: -o-linear-gradient(#f0f0f0, #f0f0f0 38%, #e0e0e0);
    box-shadow: 0 1px 0 rgba(0, 0, 0, 0.12), inset 0 1px 2px rgba(255, 255, 255, 0.95);
    -webkit-box-shadow: 0 1px 0 rgba(0, 0, 0, 0.12), inset 0 1px 2px rgba(255, 255, 255, 0.95);
    -moz-box-shadow: 0 1px 0 rgba(0, 0, 0, 0.12), inset 0 1px 2px rgba(255, 255, 255, 0.95);
    -webkit-transition: color 200ms;
}

.jqx-fill-state-pressed-metro {
    box-shadow: none;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    text-shadow: none;
    background-color: #f0f0f0;
    background-image: linear-gradient(#e7e7e7, #e7e7e7 38%, #d7d7d7);
    background-image: -webkit-linear-gradient(#e7e7e7, #e7e7e7 38%, #d7d7d7);
    background-image: -moz-linear-gradient(#e7e7e7, #e7e7e7 38%, #d7d7d7);
    background-image: -o-linear-gradient(#e7e7e7, #e7e7e7 38%, #d7d7d7);
    -webkit-transition: color 200ms;
}

.jqx-grid-column-menubutton-metro {
    background-color: transparent;
}

.jqx-calendar-row-header-metro, .jqx-calendar-top-left-header-metro {
    background-color: #f0f0f0;
    border: 0px solid #f2f2f2;
}

.jqx-calendar-column-header-metro {
    background-color: #FFF;
    border-top: 1px solid #FFF;
    border-bottom: 1px solid #e9e9e9;
}

.jqx-scrollbar-state-normal-metro {
    background-color: #f0f0f0;
    border: 1px solid #f0f0f0;
}
.jqx-grid-cell-hover-metro {
    box-shadow: none;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
}
.jqx-scrollbar-thumb-state-normal-metro {
    background-color: #f0f0f0;
    background-image: linear-gradient(left, #ededed, #ededed 38%, #dedede);
    background-image: -webkit-linear-gradient(left, #ededed, #ededed 38%, #dedede);
    background-image: -moz-linear-gradient(left, #ededed, #ededed 38%, #dedede);
    background-image: -o-linear-gradient(left, #ededed, #ededed 38%, #dedede);
    background-image: -ms-linear-gradient(left, #ededed, #ededed 38%, #dedede);
}

.jqx-scrollbar-thumb-state-hover-metro {
    background-color: #f0f0f0;
    background-image: linear-gradient(left,#f0f0f0, #f0f0f0 38%, #e0e0e0);
    background-image: -webkit-linear-gradient(left,#f0f0f0, #f0f0f0 38%, #e0e0e0);
    background-image: -moz-linear-gradient(left,#f0f0f0, #f0f0f0 38%, #e0e0e0);
    background-image: -o-linear-gradient(left,#f0f0f0, #f0f0f0 38%, #e0e0e0);
    background-image: -ms-linear-gradient(left,#f0f0f0, #f0f0f0 38%, #e0e0e0);
}
.jqx-splitter-collapse-button-vertical-metro, .jqx-splitter-collapse-button-horizontal-metro {
    background: #b2b2b2;
}
.jqx-scrollbar-thumb-state-pressed-metro, .jqx-progressbar-value-vertical-metro{
    background-color: #f0f0f0;
    background-image: linear-gradient(left, #e7e7e7, #e7e7e7 38%, #d7d7d7);
    background-image: -webkit-linear-gradient(left, #e7e7e7, #e7e7e7 38%, #d7d7d7);
    background-image: -moz-linear-gradient(left, #e7e7e7, #e7e7e7 38%, #d7d7d7);
    background-image: -o-linear-gradient(left, #e7e7e7, #e7e7e7 38%, #d7d7d7);
    background-image: -ms-linear-gradient(left, #e7e7e7, #e7e7e7 38%, #d7d7d7);
}

.jqx-grid-column-sortdescbutton-metro, jqx-grid-column-filterbutton-metro, .jqx-grid-column-sortascbutton-metro {
    background-color: transparent;
    border-style: solid;
    border-width: 0px 0px 0px 0px;
    border-color: #b2b2b2;
}
.jqx-slider-rangebar-metro {
    background: #C3C3C3;
}
.jqx-menu-vertical-metro {
    background: #f5f5f5;
    filter: none;
}

.jqx-checkbox-check-checked-metro {
    background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAsAAAALCAYAAACprHcmAAAAcklEQVQY02NgwA/YoJgoEA/Es4DYgJBCJSBeD8SboRinBiYg7kZS2IosyQ/Eakh8LySFq4FYHFlxGRBvBOJYqMRqJMU+yApNkSRAeC0Sux3dfSCTetE0wKyXxOWhMKhTYIr9CAUXyJMzgLgBagBBgDPGAI2LGdNt0T1AAAAAAElFTkSuQmCC');
}

.jqx-combobox-content-metro, .jqx-input-metro {
    border-color: #b2b2b2;
    box-shadow: inset 0 1px 2px rgba(0,0,0,0.1);
    -webkit-box-shadow: inset 0 1px 2px rgba(0,0,0,0.1);
    -moz-box-shadow: inset 0 1px 2px rgba(0,0,0,0.1);
}
.jqx-combobox-content-metro {
    border-color: #b2b2b2;
    border-color: rgba(0, 0, 0, 0.25);
 }
.jqx-fill-state-focus-metro, .jqx-combobox-content-focus-metro, .jqx-numberinput-focus-metro {
    outline: none;
    border-color: #777777;
}
.jqx-dropdownbutton-popup-metro.jqx-fill-state-focus-metro {
   
}
.jqx-grid-bottomright-metro, .jqx-panel-bottomright-metro, .jqx-listbox-bottomright-metro {
    background-color: #efefef;
}

.jqx-tabs-title-selected-top-metro, .jqx-tabs-selection-tracker-top-metro {
    border-color: #b2b2b2;
    border-bottom: 1px solid #fff;
    text-shadow: 0 1px 0 #f2f2f2;
    filter: none;
    color: #222;
    background: #fff;
}

.jqx-tabs-title-selected-bottom-metro, .jqx-tabs-selection-tracker-bottom-metro {
    border-color: #b2b2b2;
    border-top: 1px solid #fff;
    text-shadow: 0 1px 0 #f2f2f2;
    filter: none;
    color: #222;
    background: #fff;
}

.jqx-popup-metro {
  -webkit-box-shadow: 4px 4px 23px rgba(0, 0, 0, 0.15);
  -moz-box-shadow: 4px 4px 23px rgba(0, 0, 0, 0.15);
  box-shadow: 4px 4px 23px rgba(0, 0, 0, 0.15);
}
.jqx-menu-popup-metro>div:first-child{
    padding-bottom: 15px !important;
    padding-right: 15px !important;
}
.jqx-menu-popup-clear-metro>div:first-child{
    padding-bottom: 0px !important;
}
.jqx-window-metro, .jqx-tooltip-metro {
  -webkit-box-shadow: 0 4px 23px 5px rgba(0, 0, 0, 0.2), 0 2px 6px rgba(0,0,0,0.15);
  -moz-box-shadow:  0 4px 23px 5px rgba(0, 0, 0, 0.2), 0 2px 6px rgba(0,0,0,0.15);
  box-shadow: 0 4px 23px 5px rgba(0, 0, 0, 0.2), 0 2px 6px rgba(0,0,0,0.15);
}
.jqx-docking-metro .jqx-window-metro {
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
}
.jqx-docking-panel-metro .jqx-window-metro {
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}
.jqx-radiobutton-metro {
    -moz-border-radius: 100%;
    -webkit-border-radius: 100%;
    border-radius: 100%;
    background-repeat: no-repeat;
    background: none;
}
.jqx-radiobutton-metro-metro, .jqx-radiobutton-hover-metro {
    -moz-border-radius: 100%;
    -webkit-border-radius: 100%;
    border-radius: 100%;
    background-repeat: no-repeat;
}
.jqx-radiobutton-check-checked-metro {
    filter: none;
    background: #666;
    background-repeat: no-repeat;
    -moz-border-radius: 100%;
    -webkit-border-radius: 100%;
    border-radius: 100%;
}
.jqx-radiobutton-check-indeterminate-metro {
    filter: none;
    background: #999;
    -moz-border-radius: 100%;
    -webkit-border-radius: 100%;
    border-radius: 100%;
}
.jqx-radiobutton-check-indeterminate-disabled-metro {
    filter: none;
    background: #999;
    -moz-border-radius: 100%;
    -webkit-border-radius: 100%;
    border-radius: 100%;
}
.jqx-slider-track-horizontal-metro, .jqx-slider-track-vertical-metro {
    border-color: #b2b2b2;
    background: #f0f0f0;
}
.jqx-slider-button-metro
{
    -moz-border-radius: 100%;
    -webkit-border-radius: 100%;
    border-radius: 100%; 
}
.jqx-widget-metro
{
  font-family: Verdana;
}
.jqx-widget-content-metro
{
  color: #000000;
  text-shadow: none;
  border-color: #FFCF1D;
  background: #FFFFFF;
  font-family: Verdana;
}
.jqx-widget-header-metro, .jqx-grid-metro .jqx-widget-header-metro
{
  color: #000000;
  text-shadow: none;
  border-color: #FFCF1D;
  background-color: transparent;
  background-image: -moz-linear-gradient(top, transparent, transparent);
  background-image: -ms-linear-gradient(top, transparent, transparent);
  background-image: -o-linear-gradient(top, transparent, transparent);
  background-image: -webkit-gradient(linear, center top, center bottom, from(transparent), to(transparent));
  background-image: -webkit-linear-gradient(top, transparent, transparent);
  background-image: linear-gradient(top, transparent, transparent);
  background-image: linear-gradient(to bottom, transparent, transparent);
  -moz-background-clip: padding;
  background-clip: padding-box;
  -webkit-background-clip: padding-box;
  font-family: Verdana;
}
.jqx-grid-column-menubutton-metro, .jqx-widget-metro.jqx-grid-column-menubutton-metro
{
  border-color: #FFCF1D;
}
.jqx-grid-cell-metro, .jqx-widget-metro .jqx-grid-cell-metro
{
  background-color: #FFFFFF;
  color: #222222;
  text-shadow: none;
}
.jqx-fill-state-normal-metro
{
  color: #000000;
  text-shadow: none;
  border-color: #FFCF1D;
  background-color: #FFFFFF;
  background-image: -moz-linear-gradient(top, #FFFFFF, #FFFFFF);
  background-image: -ms-linear-gradient(top, #FFFFFF, #FFFFFF);
  background-image: -o-linear-gradient(top, #FFFFFF, #FFFFFF);
  background-image: -webkit-gradient(linear, center top, center bottom, from(#FFFFFF), to(#FFFFFF));
  background-image: -webkit-linear-gradient(top, #FFFFFF, #FFFFFF);
  background-image: linear-gradient(top, #FFFFFF, #FFFFFF);
  background-image: linear-gradient(to bottom, #FFFFFF, #FFFFFF);
  -moz-background-clip: padding;
  background-clip: padding-box;
  -webkit-background-clip: padding-box;
  font-family: Verdana;
}
.jqx-button-metro
{
  color: #000000;
  text-shadow: none;
  border-color: #b2b2b2;
  background-color: #ededed;
  background-image: -moz-linear-gradient(top, #ededed, #dedede);
  background-image: -ms-linear-gradient(top, #ededed, #dedede);
  background-image: -o-linear-gradient(top, #ededed, #dedede);
  background-image: -webkit-gradient(linear, center top, center bottom, from(#ededed), to(#dedede));
  background-image: -webkit-linear-gradient(top, #ededed, #dedede);
  background-image: linear-gradient(top, #ededed, #dedede);
  background-image: linear-gradient(to bottom, #ededed, #dedede);
  -moz-background-clip: padding;
  background-clip: padding-box;
  -webkit-background-clip: padding-box;
  font-family: Verdana;
}
.jqx-grid-selectionarea-metro
{
  border-color: #FFCF1D;
  background-color: #FFFFFF;
}
.jqx-widget-metro .jqx-grid-cell-sort-metro, .jqx-widget-metro .jqx-grid-cell-filter-metro, .jqx-widget-metro .jqx-grid-cell-pinned-metro, .jqx-grid-cell-sort-metro, .jqx-grid-cell-filter-metro, .jqx-grid-cell-pinned-metro
{
  background-color: #aaaaaa;
  color: #000000;
  text-shadow: none;
}
.jqx-widget-metro .jqx-grid-cell-alt-metro, .jqx-widget-metro .jqx-grid-cell-sort-alt-metro, .jqx-widget-metro .jqx-grid-cell-pinned-alt-metro, .jqx-widget-metro .jqx-grid-cell-filter-alt-metro, .jqx-grid-cell-alt-metro, .jqx-grid-cell-sort-alt-metro, .jqx-grid-cell-filter-alt-metro
{
  background-color: #f9f9f9;
  color: #000000;
  text-shadow: none;
}
.jqx-fill-state-hover-metro, .jqx-widget-metro .jqx-grid-cell-hover-metro
{
  color: #000000;
  text-shadow: none;
  border-color: #FFCF1D;
  background-color: #F7DB76;
  background-image: -moz-linear-gradient(top, #F7DB76, #F7DB76);
  background-image: -ms-linear-gradient(top, #F7DB76, #F7DB76);
  background-image: -o-linear-gradient(top, #F7DB76, #F7DB76);
  background-image: -webkit-gradient(linear, center top, center bottom, from(#F7DB76), to(#F7DB76));
  background-image: -webkit-linear-gradient(top, #F7DB76, #F7DB76);
  background-image: linear-gradient(top, #F7DB76, #F7DB76);
  background-image: linear-gradient(to bottom, #F7DB76, #F7DB76);
  -moz-background-clip: padding;
  background-clip: padding-box;
  -webkit-background-clip: padding-box;
  font-family: Verdana;
}
.jqx-fill-state-pressed-metro, .jqx-widget-metro .jqx-grid-cell-selected-metro
{
  color: #000000;
  text-shadow: none;
  border-color: #FFCF1D;
  background-color: #FFCF1D;
  background-image: -moz-linear-gradient(top, #FFCF1D, #FFCF1D);
  background-image: -ms-linear-gradient(top, #FFCF1D, #FFCF1D);
  background-image: -o-linear-gradient(top, #FFCF1D, #FFCF1D);
  background-image: -webkit-gradient(linear, center top, center bottom, from(#FFCF1D), to(#FFCF1D));
  background-image: -webkit-linear-gradient(top, #FFCF1D, #FFCF1D);
  background-image: linear-gradient(top, #FFCF1D, #FFCF1D);
  background-image: linear-gradient(to bottom, #FFCF1D, #FFCF1D);
  -moz-background-clip: padding;
  background-clip: padding-box;
  -webkit-background-clip: padding-box;
  font-family: Verdana;
}
.jqx-switchbutton-label-on-metro
{
  color: #000000;
  text-shadow: none;
  border-color: #FFCF1D;
  background-color: #FFCF1D;
  background-image: -moz-linear-gradient(top, #FFCF1D, #FFCF1D);
  background-image: -ms-linear-gradient(top, #FFCF1D, #FFCF1D);
  background-image: -o-linear-gradient(top, #FFCF1D, #FFCF1D);
  background-image: -webkit-gradient(linear, center top, center bottom, from(#FFCF1D), to(#FFCF1D));
  background-image: -webkit-linear-gradient(top, #FFCF1D, #FFCF1D);
  background-image: linear-gradient(top, #FFCF1D, #FFCF1D);
  background-image: linear-gradient(to bottom, #FFCF1D, #FFCF1D);
  -moz-background-clip: padding;
  background-clip: padding-box;
  -webkit-background-clip: padding-box;
}
.jqx-tabs-title-selected-top-metro, .jqx-tabs-selection-tracker-top-metro
{
  color: #000000;
  text-shadow: none;
  border-color: #FFCF1D;
  border-bottom: 1px solid #FFFFFF;
  background-image: none ;
  background-color: #FFFFFF;
}
.jqx-tabs-title-selected-bottom-metro, .jqx-tabs-selection-tracker-bottom-metro
{
  color: #000000;
  text-shadow: none;
  border-color: #FFCF1D;
  border-top: 1px solid #FFFFFF;
  background-image: none ;
  background-color: #FFFFFF;
}
.jqx-splitter-splitbar-hover-metro
{
  background: #F7DB76;
}
.jqx-splitter-splitbar-vertical-metro, .jqx-splitter-splitbar-horizontal-metro, .jqx-slider-track-horizontal-metro, .jqx-slider-track-vertical-metro
{
  background: #FFFFFF;
}
.jqx-splitter-collapse-button-horizontal-metro, .jqx-splitter-collapse-button-vertical-metro, .jqx-slider-rangebar-metro
{
  background: #FFCF1D;
}
.jqx-scrollbar-state-normal-metro
{
  background-color: #f0f0f0;
  border-color: #f0f0f0;
}
.jqx-grid-bottomright-metro, .jqx-panel-bottomright-metro, .jqx-listbox-bottomright-metro
{
  background-color: #f0f0f0;
}
.jqx-scrollbar-thumb-state-normal-metro
{
  background-color: #ededed;
  background-color: #ededed;
  background-image: -moz-linear-gradient(left, #ededed, #dedede);
  background-image: -ms-linear-gradient(left, #ededed, #dedede);
  background-image: -o-linear-gradient(left, #ededed, #dedede);
  background-image: -webkit-gradient(linear, left top, right top, from(#ededed), to(#dedede));
  background-image: -webkit-linear-gradient(left, #ededed, #dedede);
  background-image: linear-gradient(left, #ededed, #dedede);
  background-image: linear-gradient(left right, #ededed, #dedede);
}
.jqx-scrollbar-thumb-state-normal-horizontal-metro
{
  background-color: #ededed;
  background-color: #ededed;
  background-image: -moz-linear-gradient(top, #ededed, #dedede);
  background-image: -ms-linear-gradient(top, #ededed, #dedede);
  background-image: -o-linear-gradient(top, #ededed, #dedede);
  background-image: -webkit-gradient(linear, center top, center bottom, from(#ededed), to(#dedede));
  background-image: -webkit-linear-gradient(top, #ededed, #dedede);
  background-image: linear-gradient(top, #ededed, #dedede);
  background-image: linear-gradient(to bottom, #ededed, #dedede);
  -moz-background-clip: padding;
  background-clip: padding-box;
  -webkit-background-clip: padding-box;
}
.jqx-scrollbar-thumb-state-hover-metro
{
  background-color: #f0f0f0;
  border-color: #f0f0f0;
  background-image: -moz-linear-gradient(left, #f0f0f0, #e0e0e0);
  background-image: -ms-linear-gradient(left, #f0f0f0, #e0e0e0);
  background-image: -o-linear-gradient(left, #f0f0f0, #e0e0e0);
  background-image: -webkit-gradient(linear, left top, right top, from(#f0f0f0), to(#e0e0e0));
  background-image: -webkit-linear-gradient(left, #f0f0f0, #e0e0e0);
  background-image: linear-gradient(left, #f0f0f0, #e0e0e0);
  background-image: linear-gradient(left right, #f0f0f0, #e0e0e0);
}
.jqx-scrollbar-thumb-state-hover-horizontal-metro
{
  background-color: #f0f0f0;
  border-color: #f0f0f0;
  background-image: -moz-linear-gradient(top, #f0f0f0, #e0e0e0);
  background-image: -ms-linear-gradient(top, #f0f0f0, #e0e0e0);
  background-image: -o-linear-gradient(top, #f0f0f0, #e0e0e0);
  background-image: -webkit-gradient(linear, center top, center bottom, from(#f0f0f0), to(#e0e0e0));
  background-image: -webkit-linear-gradient(top, #f0f0f0, #e0e0e0);
  background-image: linear-gradient(top, #f0f0f0, #e0e0e0);
  background-image: linear-gradient(to bottom, #f0f0f0, #e0e0e0);
  -moz-background-clip: padding;
  background-clip: padding-box;
  -webkit-background-clip: padding-box;
}
.jqx-scrollbar-thumb-state-pressed-metro
{
  background-color: #e7e7e7;
  border-color: #e7e7e7;
  background-image: -moz-linear-gradient(left, #e7e7e7, #d7d7d7);
  background-image: -ms-linear-gradient(left, #e7e7e7, #d7d7d7);
  background-image: -o-linear-gradient(left, #e7e7e7, #d7d7d7);
  background-image: -webkit-gradient(linear, left top, right top, from(#e7e7e7), to(#d7d7d7));
  background-image: -webkit-linear-gradient(left, #e7e7e7, #d7d7d7);
  background-image: linear-gradient(left, #e7e7e7, #d7d7d7);
  background-image: linear-gradient(left right, #e7e7e7, #d7d7d7);
}
.jqx-scrollbar-thumb-state-pressed-horizontal-metro
{
  background-color: #e7e7e7;
  border-color: #e7e7e7;
  background-image: -moz-linear-gradient(top, #e7e7e7, #d7d7d7);
  background-image: -ms-linear-gradient(top, #e7e7e7, #d7d7d7);
  background-image: -o-linear-gradient(top, #e7e7e7, #d7d7d7);
  background-image: -webkit-gradient(linear, center top, center bottom, from(#e7e7e7), to(#d7d7d7));
  background-image: -webkit-linear-gradient(top, #e7e7e7, #d7d7d7);
  background-image: linear-gradient(top, #e7e7e7, #d7d7d7);
  background-image: linear-gradient(to bottom, #e7e7e7, #d7d7d7);
  -moz-background-clip: padding;
  background-clip: padding-box;
  -webkit-background-clip: padding-box;
}
.jqx-scrollbar-button-state-normal-metro
{
  background-color: #f0f0f0;
  background-image: -moz-linear-gradient(top, #f0f0f0, #f0f0f0);
  background-image: -ms-linear-gradient(top, #f0f0f0, #f0f0f0);
  background-image: -o-linear-gradient(top, #f0f0f0, #f0f0f0);
  background-image: -webkit-gradient(linear, center top, center bottom, from(#f0f0f0), to(#f0f0f0));
  background-image: -webkit-linear-gradient(top, #f0f0f0, #f0f0f0);
  background-image: linear-gradient(top, #f0f0f0, #f0f0f0);
  background-image: linear-gradient(to bottom, #f0f0f0, #f0f0f0);
  -moz-background-clip: padding;
  background-clip: padding-box;
  -webkit-background-clip: padding-box;
}
.jqx-scrollbar-button-state-hover-metro
{
  background-color: #f0f0f0;
  border-color: #b2b2b2;
  background-image: -moz-linear-gradient(top, #f0f0f0, #e0e0e0);
  background-image: -ms-linear-gradient(top, #f0f0f0, #e0e0e0);
  background-image: -o-linear-gradient(top, #f0f0f0, #e0e0e0);
  background-image: -webkit-gradient(linear, center top, center bottom, from(#f0f0f0), to(#e0e0e0));
  background-image: -webkit-linear-gradient(top, #f0f0f0, #e0e0e0);
  background-image: linear-gradient(top, #f0f0f0, #e0e0e0);
  background-image: linear-gradient(to bottom, #f0f0f0, #e0e0e0);
  -moz-background-clip: padding;
  background-clip: padding-box;
  -webkit-background-clip: padding-box;
}
.jqx-scrollbar-button-state-pressed-metro
{
  background-color: #e7e7e7;
  border-color: #b2b2b2;
  background-image: -moz-linear-gradient(top, #e7e7e7, #d7d7d7);
  background-image: -ms-linear-gradient(top, #e7e7e7, #d7d7d7);
  background-image: -o-linear-gradient(top, #e7e7e7, #d7d7d7);
  background-image: -webkit-gradient(linear, center top, center bottom, from(#e7e7e7), to(#d7d7d7));
  background-image: -webkit-linear-gradient(top, #e7e7e7, #d7d7d7);
  background-image: linear-gradient(top, #e7e7e7, #d7d7d7);
  background-image: linear-gradient(to bottom, #e7e7e7, #d7d7d7);
  -moz-background-clip: padding;
  background-clip: padding-box;
  -webkit-background-clip: padding-box;
}
.jqx-radiobutton-check-checked-metro
{
  background: #666666;
  width: 7px;
  height: 7px;
  margin-left: 2px;
  margin-top: 2px;
  border-width: 1px;
  border-style: solid;
}
.jqx-rc-tl-metro
{
  -moz-border-radius-topleft: 2px;
  -webkit-border-radius-topleft: 2px;
  border-radius-topleft: 2px;
}
.jqx-rc-tr-metro
{
  -moz-border-radius-topright: 2px;
  -webkit-border-radius-topright: 2px;
  border-radius-topright: 2px;
}
.jqx-rc-bl-metro
{
  -moz-border-radius-bottomleft: 2px;
  -webkit-border-radius-bottomleft: 2px;
  border-radius-bottomleft: 2px;
}
.jqx-rc-br-metro
{
  -moz-border-radius-bottomright: 2px;
  -webkit-border-radius-bottomright: 2px;
  border-radius-bottomright: 2px;
}
.jqx-rc-t-metro
{
  -moz-border-radius-topleft: 2px;
  -webkit-border-top-left-radius: 2px;
  border-top-left-radius: 2px;
  -moz-border-radius-topright: 2px;
  -webkit-border-top-right-radius: 2px;
  border-top-right-radius: 2px;
}
.jqx-rc-b-metro
{
  -moz-border-radius-bottomleft: 2px;
  -webkit-border-bottom-left-radius: 2px;
  border-bottom-left-radius: 2px;
  -moz-border-radius-bottomright: 2px;
  -webkit-border-bottom-right-radius: 2px;
  border-bottom-right-radius: 2px;
}
.jqx-rc-r-metro
{
  -moz-border-radius-topright: 2px;
  -webkit-border-top-right-radius: 2px;
  border-top-right-radius: 2px;
  -moz-border-radius-bottomright: 2px;
  -webkit-border-bottom-right-radius: 2px;
  border-bottom-right-radius: 2px;
}
.jqx-rc-l-metro
{
  -moz-border-radius-topleft: 2px;
  -webkit-border-top-left-radius: 2px;
  border-top-left-radius: 2px;
  -moz-border-radius-bottomleft: 2px;
  -webkit-border-bottom-left-radius: 2px;
  border-bottom-left-radius: 2px;
}
.jqx-radiobutton-default-metro, .jqx-radiobutton-metro, .jqx-radiobutton-check-checked-metro, .jqx-radiobutton-hover-metro, .jqx-radiobutton-check-indeterminate-metro, .jqx-radiobutton-check-indeterminate-disabled-metro, .jqx-slider-button-metro
{
  -moz-border-radius: 100% !important;
  -webkit-border-radius: 100% !important;
  border-radius: 100% !important;
}
.jqx-rc-all-metro, .jqx-tooltip-metro, .jqx-tooltip-text-metro, .jqx-tooltip-main-metro
{
  -moz-border-radius: 2px;
  -webkit-border-radius: 2px;
  border-radius: 2px;
}
.jqx-grid-column-sortascbutton-metro, .jqx-expander-arrow-bottom-metro, .jqx-window-collapse-button-metro, .jqx-menu-item-arrow-up-metro, .jqx-menu-item-arrow-top-up-metro, .jqx-icon-arrow-up-metro
{
  background-image: url('images/metro-icon-up.png');
}
.jqx-icon-arrow-up-hover-metro
{
  background-image: url('images/metro-icon-up.png');
}
.jqx-menu-item-arrow-up-selected-metro, .jqx-icon-arrow-up-selected-metro.jqx-expander-arrow-expanded-metro
{
  background-image: url('images/metro-icon-up.png');
}
.jqx-grid-column-menubutton-metro, .jqx-grid-column-sortdescbutton-metro, .jqx-expander-arrow-top-metro, .jqx-window-collapse-button-collapsed-metro, .jqx-menu-item-arrow-down-metro, .jqx-menu-item-arrow-down-metro, .jqx-tree-item-arrow-expand-metro, .jqx-grid-group-expand-metro, .jqx-widget-metro .jqx-grid-group-expand-metro, .jqx-icon-arrow-down-metro
{
  background-image: url('images/metro-icon-down.png');
}
.jqx-icon-arrow-down-hover-metro
{
  background-image: url('images/metro-icon-down.png');
}
.jqx-menu-item-arrow-down-selected-metro, .jqx-icon-arrow-down-selected-metro
{
  background-image: url('images/metro-icon-down.png');
}
.jqx-tabs-arrow-left-metro, .jqx-menu-item-arrow-top-left-metro, .jqx-grid-group-collapse-rtl-metro, .jqx-widget-metro .jqx-grid-group-collapse-rtl-metro, .jqx-icon-arrow-left-metro, .jqx-icon-arrow-down-left-metro
{
  background-image: url('images/metro-icon-left.png');
}
.jqx-icon-arrow-left-hover-metro
{
  background-image: url('images/metro-icon-left.png');
}
.jqx-menu-vertical-metro
{
  background: #ffffff;
}
.jqx-menu-item-arrow-left-selected-metro, .jqx-icon-arrow-left-selected-metro
{
  background-image: url('images/metro-icon-left.png');
}
.jqx-tabs-arrow-right-metro, .jqx-menu-item-arrow-top-right-metro, .jqx-menu-item-arrow-collapse-metro, .jqx-grid-group-collapse-metro, .jqx-widget-metro .jqx-grid-group-collapse-metro, .jqx-icon-arrow-right-metro
{
  background-image: url('images/metro-icon-right.png');
}
.jqx-icon-arrow-right-hover-metro
{
  background-image: url('images/metro-icon-right.png');
}
.jqx-menu-item-arrow-right-selected-metro, .jqx-icon-arrow-right-selected-metro
{
  background-image: url('images/metro-icon-right.png');
}
.jqx-window-close-button-metro, .jqx-tabs-close-button-metro, .icon-close-metro
{
  background-image: url('images/close.png');
}
.jqx-tabs-close-button-selected-metro
{
  background-image: url('images/close.png');
}
.jqx-tabs-close-button-hover-metro
{
  background-image: url('images/close.png');
}
.jqx-widget-metro .jqx-grid-column-header-metro, .jqx-widget-metro .jqx-grid-cell-metro, .jqx-widget-metro .jqx-grid-group-cell-metro, .jqx-grid-cell-metro
{
  border-color: #b2b2b2;
}
.jqx-checkbox-check-checked-metro
{
  background-image: url('images/check_black.png');
}
.jqx-checkbox-check-indeterminate-metro
{
  background-image: url('images/check_indeterminate_black.png');
}
.jqx-tooltip-metro, .jqx-tooltip-main-metro
{
  color: #000000;
  text-shadow: none;
  border-color: #b2b2b2;
  background-color: #ededed;
  background-image: -moz-linear-gradient(top, #ededed, #dedede);
  background-image: -ms-linear-gradient(top, #ededed, #dedede);
  background-image: -o-linear-gradient(top, #ededed, #dedede);
  background-image: -webkit-gradient(linear, center top, center bottom, from(#ededed), to(#dedede));
  background-image: -webkit-linear-gradient(top, #ededed, #dedede);
  background-image: linear-gradient(top, #ededed, #dedede);
  background-image: linear-gradient(to bottom, #ededed, #dedede);
  -moz-background-clip: padding;
  background-clip: padding-box;
  -webkit-background-clip: padding-box;
}
.jqx-combobox-content-metro, .jqx-input-metro
{
  color: #000000;
  text-shadow: none;
  border-color: #b2b2b2;
  background-color: #ffffff;
}
.jqx-combobox-input-metro
{
  color: #000000;
  text-shadow: none;
}
.jqx-input-content-metro
{
  color: #000000;
  text-shadow: none;
  background-color: #ffffff;
}
.jqx-fill-state-focus-metro, .jqx-popup-metro .jqx-fill-state-focus-metro
{
  border-color: #777777;
}
.jqx-popup-metro.jqx-listbox-metro, .jqx-popup-metro.jqx-calendar-metro,.jqx-menu-dropdown-metro,  .jqx-popup-metro.jqx-dropdownbutton-popup-metro
{
  color: #000000;
  text-shadow: none;
  border-color: #777777;
  background-color: #ffffff;
}
.jqx-menu-item-arrow-right-metro, .jqx-tree-item-arrow-collapse-metro
{
  background-image: url('images/metro-icon-right.png');
}
.jqx-menu-item-arrow-left-metro
{
  background-image: url('images/metro-icon-left.png');
}
.jqx-tree-item-arrow-expand-metro
{
  background-image: url('images/metro-icon-down.png');
}
.jqx-scrollbar-metro .jqx-icon-arrow-up-metro
{
  background-image: url('images/icon-up.png');
}
.jqx-scrollbar-metro .jqx-icon-arrow-left-metro
{
  background-image: url('images/icon-left.png');
}
.jqx-scrollbar-metro .jqx-icon-arrow-right-metro
{
  background-image: url('images/icon-right.png');
}
.jqx-scrollbar-metro .jqx-icon-arrow-bottom-metro
{
  background-image: url('images/icon-bottom.png');
}
.jqx-scrollbar-metro .jqx-icon-arrow-up-hover-metro
{
  background-image: url('images/icon-up.png');
}
.jqx-scrollbar-metro .jqx-icon-arrow-left-hover-metro
{
  background-image: url('images/icon-left.png');
}
.jqx-scrollbar-metro .jqx-icon-arrow-right-hover-metro
{
  background-image: url('images/icon-right.png');
}
.jqx-scrollbar-metro .jqx-icon-arrow-bottom-hover-metro
{
  background-image: url('images/icon-bottom.png');
}
.jqx-scrollbar-metro .jqx-icon-arrow-up-selected-metro
{
  background-image: url('images/icon-up.png');
}
.jqx-scrollbar-metro .jqx-icon-arrow-left-selected-metro
{
  background-image: url('images/icon-left.png');
}
.jqx-scrollbar-metro .jqx-icon-arrow-right-selected-metro
{
  background-image: url('images/icon-right.png');
}
.jqx-scrollbar-metro .jqx-icon-arrow-bottom-selected-metro
{
  background-image: url('images/icon-bottom.png');
}
.jqx-calendar-metro .jqx-icon-arrow-up-metro, .jqx-tabs-header-metro .jqx-icon-arrow-up-metro
{
}
.jqx-calendar-metro .jqx-icon-arrow-left-metro, .jqx-tabs-header-metro .jqx-icon-arrow-left-metro
{
}
.jqx-calendar-metro .jqx-icon-arrow-right-metro, .jqx-tabs-header-metro .jqx-icon-arrow-right-metro
{
}
.jqx-calendar-metro .jqx-icon-arrow-bottom-metro, .jqx-tabs-header-metro .jqx-icon-arrow-bottom-metro
{
}
.jqx-widget-metro .jqx-grid-cell-metro, .jqx-listitem-state-normal-metro, .jqx-menu-item-normal-metro, .jqx-tree-item-normal-metro, .jqx-calendar-cell-metro, .jqx-grid-cell-metro,.jqx-menu-vertical-metro .jqx-menu-item-top-normal-metro, .jqx-input-popup-metro .jqx-fill-state-normal-metro
{
  font-family: Verdana;
}
.jqx-widget-metro .jqx-grid-cell-hover-metro, .jqx-listitem-state-hover-metro, .jqx-menu-item-hover-metro, .jqx-tree-item-hover-metro, .jqx-calendar-cell-hover-metro, .jqx-grid-cell-hover-metro,.jqx-menu-vertical-metro .jqx-menu-item-top-hover-metro, .jqx-input-popup-metro .jqx-fill-state-hover-metro,.jqx-input-button-header-metro, .jqx-input-popup-metro .jqx-fill-state-pressed-metro,.jqx-input-button-header-metro
{
  font-family: Verdana;
}
.jqx-widget-metro  .jqx-grid-cell-selected-metro, .jqx-listitem-state-selected-metro, .jqx-menu-item-selected-metro, .jqx-tree-item-selected-metro, .jqx-calendar-cell-selected-metro, .jqx-grid-cell-selected-metro,.jqx-menu-vertical-metro .jqx-menu-item-top-selected-metro, .jqx-grid-selectionarea-metro
{
  font-family: Verdana;
}
.jqx-icon-calendar-metro
{
  background-image: url('images/icon-calendar.png');
}
.jqx-icon-calendar-hover-metro
{
  background-image: url('images/icon-calendar.png');
}
.jqx-icon-calendar-pressed-metro
{
  background-image: url('images/icon-calendar.png');
}
.jqx-icon-first-metro
{
  background-image: url('images/metro-icon-first.png');
}
.jqx-icon-first-hover-metro
{
  background-image: url('images/metro-icon-first.png');
}
.jqx-icon-first-selected-metro
{
  background-image: url('images/metro-icon-first.png');
}
.jqx-icon-last-metro
{
  background-image: url('images/metro-icon-last.png');
}
.jqx-icon-last-hover-metro
{
  background-image: url('images/metro-icon-last.png');
}
.jqx-icon-last-selected-metro
{
  background-image: url('images/metro-icon-last.png');
}
.jqx-grid-cell-metro.jqx-grid-cell-metro>.jqx-grid-group-expand-metro
{
  background-image: url('images/metro-icon-down.png');
}
.jqx-grid-cell-metro.jqx-grid-cell-hover-metro>.jqx-grid-group-expand-metro
{
  background-image: url('images/metro-icon-down.png');
}
.jqx-grid-cell-metro.jqx-grid-cell-selected-metro>.jqx-grid-group-expand-metro
{
  background-image: url('images/metro-icon-down.png');
}
.jqx-grid-cell-metro.jqx-grid-cell-metro>.jqx-grid-group-collapse-metro
{
  background-image: url('images/metro-icon-right.png');
}
.jqx-grid-cell-metro.jqx-grid-cell-hover-metro>.jqx-grid-group-collapse-metro
{
  background-image: url('images/metro-icon-right.png');
}
.jqx-grid-cell-metro.jqx-grid-cell-selected-metro>.jqx-grid-group-collapse-metro
{
  background-image: url('images/metro-icon-right.png');
}
.jqx-grid-cell-metro.jqx-grid-cell-metro>.jqx-grid-group-expand-rtl-metro
{
  background-image: url('images/metro-icon-down.png');
}
.jqx-grid-cell-metro.jqx-grid-cell-hover-metro>.jqx-grid-group-expand-rtl-metro
{
  background-image: url('images/metro-icon-down.png');
}
.jqx-grid-cell-metro.jqx-grid-cell-selected-metro>.jqx-grid-group-expand-rtl-metro
{
  background-image: url('images/metro-icon-down.png');
}
.jqx-grid-cell-metro.jqx-grid-cell-metro>.jqx-grid-group-collapse-rtl-metro
{
  background-image: url('images/metro-icon-left.png');
}
.jqx-grid-cell-metro.jqx-grid-cell-hover-metro>.jqx-grid-group-collapse-rtl-metro
{
  background-image: url('images/metro-icon-left.png');
}
.jqx-grid-cell-metro.jqx-grid-cell-selected-metro>.jqx-grid-group-collapse-rtl-metro
{
  background-image: url('images/metro-icon-left.png');
}
.jqx-grid-column-menubutton-metro, .jqx-grid-column-sortdescbutton-metro
{
  background-image: url('images/metro-icon-down.png');
}
.jqx-grid-column-sortascbutton-metro
{
  background-image: url('images/metro-icon-up.png');
}
.jqx-icon-delete-metro
{
  background-image: url('images/metro-icon-delete.png');
}
.jqx-icon-edit-metro
{
  background-image: url('images/metro-icon-edit.png');
}
.jqx-icon-save-metro
{
  background-image: url('images/metro-icon-save.png');
}
.jqx-icon-cancel-metro
{
  background-image: url('images/metro-icon-cancel.png');
}
.jqx-icon-search-metro
{
  background-image: url('images/metro-icon-search.png');
}
.jqx-icon-plus-metro
{
  background-image: url('images/metro-icon-plus.png');
}
